rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /notes/{noteId} {
      allow read, write: if false;
    }

    match /noteControls/{token} {
      allow read, write: if false;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if false;

      match /prices/{priceId} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /customers/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;

      match /checkout_sessions/{sessionId} {
        allow create, read: if request.auth != null && request.auth.uid == userId;
        allow update, delete: if false;
      }

      match /subscriptions/{subscriptionId} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow write: if false;
      }

      match /payments/{paymentId} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow write: if false;
      }
    }
  }
}
